{% extends '../base.html' %}

{% load static%}

{%block content %}
<h3 class="lead py-3">Détails du livre</h3>
<hr>
<img src="{{produit.image.url}}" alt="" width="300"><br><br>
<span class="text-info">Titre: </span><span>{{produit.titre}}</span><br>
<span class="text-info">Date de publication: </span><span>{{produit.date_publication}}</span><br>
<span class="text-info">Editeur: </span><span class="fw500">{{produit.editeur}}</span><br>
{% for contribLivre in produit.livre.all %}
<span class="text-info">{{contribLivre.role|title}}: </span><span>{{contribLivre.contributeur.prenoms}} {{contribLivre.contributeur.nom}}</span><br>
{% endfor %}
<span class="text-info">Prix: </span><span class="fw500">{{produit.prix}} FCFA</span><br>
<span class="text-info">Note moyenne: </span><span class="badge badge-primary badge-pill">{{note}}</span><br><br>
<span class="text-info">Description: </span><br>
<p>
    {{produit.description}}
</p>
<hr>
<h3 class="lead">Liste des revues</h3>
{% if note == 0 %}
    <span class="text-secondary"><a href="{{produit.get_third_url}}">Donnez une note et rédigez la première critique de ce livre.</a></span><br>
{% else %}
    <ul class="ps-5">
        {%for revue in revues %}
        <li style="list-style-type:none;">
            <span class="text-info">Commentaire: </span>
            <p>{{revue.contenu}}</p><br>
            <span class="text-info">Créé le: </span><span>{{revue.date_creation}}</span><br>
            <span class="text-info">Note: </span><span class="badge badge-secondary badge-pill">{{revue.note}}</span><br>
            <span class="text-info">Createur: </span><span>{{revue.user.email}}</span><br>
            {% if user.id == revue.user.id %}
            <div class="text-right">
                <a type="button" id="mod-button" class="mod-button text-decoration-none text-muted ps-3" href="{{produit.get_mod_url}}">Modifier</a>
                <a type="button" id="delete-button" data-index="{{revue.id}}" class="delete-button text-decoration-none text-muted">Supprimer</a>
            </div>
            {% endif %}
            <hr>
        </li>
        {%endfor%}
    </ul>
{% endif %}
<div class="col-12 text-right py-3 ">
    {% if note == 0%}
    <a type="button" class="btn btn-lg btn-outline-primary" href="{{ produit.get_absolute_url }}">Achetez</a>
    {% else %}
    <a type="button" class="btn btn-lg btn-outline-primary" href="{{ produit.get_third_url }}">Ajoutez une revue</a>
    <a type="button" class="btn btn-lg btn-outline-primary" href="{{ produit.get_absolute_url }}">Achetez</a>
    {% endif %}
</div>

{%endblock%}

{% block extrajs %}

<script>

    $(document).on("click", ".delete-button", function (e) {
        e.preventDefault();
        var confirmation = confirm("Etes vous sur de vouloir supprimer ?");
        if (confirmation) {
            var revueid = $(this).data("index");
            $.ajax({
                type: "POST",
                url: '{% url "boutique:supprimer" %}',
                data: {
                    revueid: $(this).data("index"),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: "post",
                },
                success: function (json) {
                    location.reload()
                },
                error: function (xhr, errmsg, err) { },
            })
        }      
    });
</script>

{% endblock %}

