{% extends "base.html" %}

{% load static %}


{% block extracss %}
<style>
.titre {
font-size: 20px;
background-color: black;
color: white;
}
</style>
{% endblock %}

{% block title %} Contact {% endblock %}

{% block content%}

<div class="container-lg py-3">
    <div class="row">
        <div class="col-12 text-left">
            <div class="titre p-3 mb-5 rounded">Contact</div>
            <p>
                <span><img src="{% static 'icons/mail_black_24dp1.svg' %}" alt=""> Mail: ebook@ebook.sn Postale: BP A10,Thiès, Sénégal</span> <br>
                <span><img src="{% static 'icons/call-24px1.svg' %}" alt=""> Téléphone : 00221 33 951 15 48</span> <br>
                <span><img src="{% static 'icons/telephone1.svg' %}" alt=""> Fax : 00221 22 951 14 76</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-left">
            <div class="titre p-3 mb-5 rounded">A propos</div>
            <p>
                Ebook est une application web de ventes en livres. Nous proposons des fonctionnalités comme une liste de souhaits, la possibilités de mettre des revues, un panier qui vous permet de garder en trace les livres que vous désirez et une livraison en moins de 2 jours après commande.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% comment %}
{% block extrajs%}
<script>
    let ctn = document.getElementById('cnt')
    let footer = document.getElementById('footer')

    ctn.classList.add('active')
    footer.classList.add('fixed-bottom')

</script>
{% endblock %}
{% endcomment %}