{%load static%}

<div class="container-fluid bg-dark" id="footer">
    <div class="row pt-3">
        <div class="col-4 border-right text-center">
            <img src="{%static 'img/logo.jpg'%}" width="105px" class="bg-white rounded mb-3" />
            <p class="text-light">
                Copyright 2022 &copy | Ecole Polytechnique de Thiès
            </p>
        </div>
        <div class="col-4 border-right">
            <p class="h4 text-white"><span>Contacts</span></p>
            <p class="text-light">
                <span>Mail: ebook@ebook.sn</span><br />
                <span>Postale: BP A10, Thiès,Sénégal</span><br />
                <span>Téléphone: 00221 33 951 15 48</span><br />
                <span>Fax: 00221 33 951 14 76</span>
            </p>
        </div>
        <div class="col-4">
            <p class="h4 text-white"><span>Social</span></p>
            <div class="d-inline-flex py-3 align-items-center" id="socials">
                <img src="{%static 'icons/iconmonstr-instagram-141.svg'%}" width="35px" style="padding-right: 5px;" />
                <img src="{%static 'icons/facebook_black_24dp1.svg'%}" width="35px" style="padding-right: 5px;" />
                <img src="{%static 'icons/iconmonstr-twitter-41.svg'%}" width="35px" style="padding-right: 5px;" />
                <img src="{%static 'icons/iconmonstr-youtube-91.svg'%}" width="35px" style="padding-right: 5px;" />
            </div>
        </div>
    </div>
</div>