{%load static%}

<div class="container-fluid bg-dark" id="footer">
<div class="row pt-3 text-white">
    <div class="col-md-4 col-lg-4 footer-about d-flex flex-column align-items-center justify-content-center">
        <img class="logo-footer" src="{% static 'img/logo.jpg'%}" alt="logo-footer">
        <p class="text-center">
            Ebook est un site de vente en ligne de livres qui cherche à faciliter l'achat de livre électronique aux férus de la lecture.
		</p>
    </div>
    <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact">
        <h5>Contacts</h5>
        <p><i class="fas fa-map-marker-alt" style="color:white;"></i> Ecole Polytechnique de Thiès</p>
        <p><i class="fas fa-phone" style="color:white;"></i> Téléphone: 00221 33 951 15 48</p>
        <p><i class="fas fa-envelope" style="color:white;"></i> Mail: <a href="#" class="text-white">ebook@ebook.sn</a></p>
        <p><i class="fa fa-fax" style="color:white;"></i>Fax : 00221 22 951 14 76</p>
    </div>
    <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
        <h5>Suivez Nous</h5>
        <p>
            <a href="#" class="text-white"><i class="fab fa-facebook"></i></a> 
            <a href="#" class="text-white"><i class="fab fa-twitter"></i></a> 
            <a href="#" class="text-white"><i class="fab fa-google-plus-g"></i></a> 
            <a href="#" class="text-white"><i class="fab fa-instagram"></i></a> 
            <a href="#" class="text-white"><i class="fab fa-pinterest"></i></a>
        </p>
    </div>
    <div class="col-md-12 footer-copyright d-flex justify-content-center">
        <p class="text-white">&copy; Copyright 2022 Ebook</p>
    </div>
</div>
</div>